{% extends "layout.html" %}
{% block content %}
<style>
.row-account {
    border: 2px solid powderblue;
    width: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom:0px;
}
.row .col.l4{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.image-section {
    position: relative;
}
.username-section {
    padding: 15px;
}
.email-section {
    padding: 15px;
}
.row .col.l8{
    width: 50%;
    margin-left: auto;
    margin-bottom: auto;
}
.change_password_pic_section {
    padding: 15px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 45px;
}
.update_pic {
    background-color: navy;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.change_pass {
    background-color: cadetblue;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.view-posts-info {
    margin: 10px;
    font-size: 45px;
}
.am1 {
    box-sizing: border-box;
    margin: 1rem 0px;
    min-width: 0px;
    width: 96%;
}
.fm1 {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(231, 231, 231);
}
.username-tag{
    font-size: 1.25em;
}
.username-tag-seperator{
    box-sizing: border-box;
    margin: 0.25rem 0px;
    min-width: 0px;
    width: 85%;
}
.email-tag{
    font-size: 1.25em;
}
.email-tag-seperator{
    box-sizing: border-box;
    margin: 0.25rem 0px;
    min-width: 0px;
    width: 69%;
}
a.posts-by-post-id:any-link{
    color: #000;
    font-family: "Lucida Console", "Courier New", monospace;
}
a.posts-by-post-id:hover{
    color: cyan;
}

</style>

    <div class="row-account">
        <h1 style="margin-left: 5px;">Your Account</h1>
        <hr width="100%" class="your-account-seperator am1 fm1">
        <div class="col x13 l4 m4 s12 pic_user_email_section">
            <div class="image-section" style="margin-left: 25px;">
                <img class="rounded-circle account-img" style="background-color: blue;" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" width="150" height="150">
            </div>
            <div class="username-section">
                <h2 class="username-tag">Username:</h2>
                <hr width="100%" class="username-tag-seperator">
                <h2>{{ current_user.username }}</h2>
            </div>
            <div class="email-section">
                <h2 class="email-tag">Username:</h2>
                <hr width="100%" class="email-tag-seperator">
                <h2>{{ current_user.email }}</h2>
            </div>
        </div>
        <div class="x19 18 m8 s12 change_password_pic_section">
            <div class="details_section">
                <a href="{{ url_for('users.account_pic', username=current_user.username) }}" class="btn-secondary update_pic">Update Picture</a>
                <a href="{{ url_for('users.account_password', username=current_user.username) }}" class="btn-secondary change_pass">Change Password</a>
            </div>
        </div>
        <div class="view-posts-info">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=current_user.username) }}">View your posts:</a>
        </div>
        {% for post in current_user.posts %}
            <div class="all-of-the-posts">
                <a class="posts-by-post-id" href="{{ url_for('posts.post_by_post_id', post_id=post.id) }}" style="margin-left: 15px;">{{ post.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}